/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: rgba(16, 144, 216, 0.1);
}
section{
    padding: 50px 100px;

}
h1{
    font-size: 48px;
    color: rgba(17, 17, 17, 0.8);
}
ol li{
    font-size: 26px;
    font-weight: 600;
    color: rgba(17, 17, 17, 0.8);
}
ol p{
    font-size: 18px;
    color: rgba(17, 17, 17, 0.6);
    margin-bottom: 40px;
}