*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 50px;
}

nav{
    padding: 18px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(16, 144, 216, 0.1);
    border-radius: 8px;
}
.nav-texts h1{
    font-weight: 700;
    font-size: 45px;
    color: rgba(17, 17, 17, 0.8);
}
.nav-texts h3{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: rgba(17, 17, 17, 0.6);
}
.btn-blog{
    background: #1090D8;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 38px;
    border: none;
    cursor: pointer;
}